/*
* @Author: lenovo
* @Date:   2019-06-13 20:06:12
* @Last Modified by:   lenovo
* @Last Modified time: 2019-06-18 17:21:13
*/
*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
li{
	list-style:none;
}
input{
	outline:none;
	width:540px;
	height:45px;
	color:#cfcfcf;
	border:1px solid #393942;
	text-align:center;
}
.box1{
	width:1200px;
	height:175px;
	margin:0 auto;
}
.header1{
	float:right;
	height:36px;
	line-height:36px;
}
.header1 a{
	color:#3d3639;
}
.ul1 li{
	float:left;
	margin-top:45px;
}
.li1{
	border:1px solid #393942;
	border-left:0;
	width:60px;
	height:45px;
	text-align:center;
}
.ul2 li{
	float:left; 
	height:44px;
	width:78px;
	margin-right:32px;
	text-align:center;
	line-height:44px;
	margin-bottom: 0;
}
.ul2 a{
	color:#050505;
}
.ul2 li:hover{
	border-bottom:3px solid #3aa747;
}
.ul2 a:hover{
	color:#61b96c;
}
.background{
	height:670px;
	background-image:url(image/banner.png);
	background-position:center;
	border-top:4px solid #3aa747;
}
.box2{
	width:1200px;
	margin:0 auto;
	height:1015px;
}
.ul3{
	width:1198px;
	height:44px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.ul4{
	border-bottom:1px solid #ccc;
}
.ul3 li{
	float:left;
	width:100px;
	height:44px;
	text-align:center;
	line-height:44px;
	margin-right:30px;
}
.ul3 a{
	color:#4c4c4c;
}
.ul3 a:hover{
	color:#3aa747;
}
.hui{
	background-color:#e5e5e5;
}
.ul5{
	margin-top:60px;
}
.ul5 li{
	float:left;
	height:292px;
	width:272px;
	border:1px solid #878787;
	margin-left:29px;
	margin-bottom:30px;
	position:relative;
}
.ul5 .div{
	width:273px;
	height:50px;
	background-color:#4c4c4c;
	opacity:0.8;
	position:absolute;
	bottom:0;
	text-align:center;
}
.ul5 p{
	color:#fff;
	margin-top:2px;
}
.ul5 li:hover .div{
	width:273px;
	height:292px;
	background-color:#4c4c4c;
	opacity:0.8;
	position:absolute;
	top:0;
}
.ul5 li:hover .p1{
	color:#fff;
	margin-top:120px;
	margin-bottom:30px;
}
.box3{
	height:100px;
	background-color:#f5f5f5;
}
.box4{
	width:1200px;
	margin:0 auto;
}
.ul6 li{
	width:255px;
	height:48px;
	float:left;
	border-right:1px solid #e2e2e2;
	margin-top:25px;
	padding-left:40px;
}
.ul6 a{
	color:#333;
}
.ul6 img{
	float:left;

}
.ul6 .dibu{
	font-size:18px;
	padding-left:80px;
}
.ul6 .dibu2{
	font-size:14px;
	padding-left:80px;
}
.box5{
	height:100px;
	background-color:#323232;
}
.box6{
	width:1200px;
	margin:0 auto;
	text-align:center;
}
.ul7 li{
	float:left;
	border-right:1px solid #fff;
	padding-right:12px;
	padding-left: 12px;
	margin-top:30px;
}
.ul7 a{
	color:#f1f1f1;
}
.box6 p{
	color:#f1f1f1;
	margin-top:15px;
}
.ul8{
	position:fixed;
	top:175px;
	right:0;
	background-color:#030a08;
	width:80px;
}
.ul8 li{
	width:70px;
	height:110px;
	text-align:center;
	line-height:115px;
	border-bottom:2px solid #595e5d;
	margin-left:5px;
}